
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=ssh {{ client_server }} ctdelaygen
Name=MAXIV Linac Delay Generator
Icon=gnome-panel-launcher
